@*@{
        ViewData["Title"] = "DashBoard";
    }

    <h1>DashBoard</h1>*@


@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/AdminDashBoard.cshtml";
}

<style>
    .hero-bg {
        background-image: url("/frontend/default/img/WelcomeAdmin.png");
        background-color: #cccccc;
        height: 720px;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
</style>

<section class="section section-top section-full bg-white hero-bg">
    <div class="hero-bg">

        <h5 class="text-center mb-4 display-4 font-weight-bold" style="padding-top: 100px; padding-right: 420px; padding-left: 50px;">
            Welcome Admin
        </h5>
    </div>

</section>

