@model SRM_MVC.Models.Admin

@{
    ViewData["Title"] = "AddAdmin";
    Layout = "~/Views/Shared/AdminDashBoard.cshtml";
}

<h1>Add Admin</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAdmin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="AdminId" class="control-label"></label>
                <input asp-for="AdminId" class="form-control" />
                <span asp-validation-for="AdminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminFirstName" class="control-label"></label>
                <input asp-for="AdminFirstName" class="form-control" />
                <span asp-validation-for="AdminFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminLastName" class="control-label"></label>
                <input asp-for="AdminLastName" class="form-control" />
                <span asp-validation-for="AdminLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminEmail" class="control-label"></label>
                <input asp-for="AdminEmail" class="form-control" />
                <span asp-validation-for="AdminEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminGender" class="control-label"></label>
                <input asp-for="AdminGender" class="form-control" />
                <span asp-validation-for="AdminGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminCity" class="control-label"></label>
                <input asp-for="AdminCity" class="form-control" />
                <span asp-validation-for="AdminCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPassword" class="control-label"></label>
                <input asp-for="AdminPassword" class="form-control" />
                <span asp-validation-for="AdminPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
