@model SRM_MVC.Models.Semester

@{
    ViewData["Title"] = "AddSemester";
    Layout = "~/Views/Shared/AdminDashBoard.cshtml";
}

<h1>Add Semester</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSemester">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SemesterId" class="control-label"></label>
                <input asp-for="SemesterId" class="form-control" />
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="semester" class="control-label"></label>
                <input asp-for="semester" class="form-control" />
                <span asp-validation-for="semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

